@{
    ViewData["Title"] = "How was your day?";
}

<div class="row">
    <div class="col-md-12">
        <div id="results">Your captured image will appear here...</div>

        <div id="my_camera"></div>
        
        <!-- A button for taking snaps -->
        <form>
            <input type=button value="Take Snapshot" onClick="take_snapshot()">
        </form>
    </div>
</div>
