@{
    ViewData["Title"] = "How was your day?";
}

<div class="container" ng-app="EmotionApp">
    <div ng-controller="EmotionCtrl" ng-init="selectDepartment('2')">@*ng-init="loadDepartments()"*@
        @*<h1>{{title}}</h1>*@
        <div ng-class="{hide: departmentSelected}">
            <div ng-repeat="option in options">
                <button class="btn" ng-click="selectDepartment(option)" ng-disabled="working">{{option}}</button>
            </div>
        </div>
        <div ng-class="{hide: imageCaptured}">
            <div ng-class="{show: departmentSelected, hide: !departmentSelected}">
                <video id="webcam" autoplay></video>
                <button class="btn" ng-click="capture()" ng-disabled="working">Capture my day</button>
            </div>
        </div>
        <div ng-class="{show: imageCaptured, hide: !imageCaptured}">
            <div>
                <canvas id="photo"></canvas>
                <img id="result" style="display:none" />
                @*<div ng-repeat="emotion in emotions">
                    <div>TopScore: {{emotion.Scores.TopScore}}</div>
                    <div>TopScoreType: {{emotion.Scores.TopScoreType}}</div>
                    <br/>
                    <div>Left: {{emotion.FaceRectangle.Left}}</div>
                    <div>Top: {{emotion.FaceRectangle.Top}}</div>
                    <div>Width: {{emotion.FaceRectangle.Width}}</div>
                    <div>Height: {{emotion.FaceRectangle.Height}}</div>
                </div>*@
            </div>
            <button class="btn" ng-click="selectDepartment('2')" ng-disabled="working">Next face</button>
            @*<button ng-click="loadDepartments()" ng-disabled="working">Next</button>*@
        </div>
    </div>
</div>